.search {
    
    &__container {
        padding: 0 12px;
    }
    
    &__content {
        margin-top: 30px;
        
        &-info {
            text-align: center;
        }
        
        &-cards {
            column-count: 3;
            column-rule: 2px solid var(--primary-color);
            gap: 24px;
            margin-top: 10px;
            
            &.card-1 {
                column-count: 1;
            }
            
            &.card-2 {
                column-count: 2;
            }
            
            .surah-desc {
                margin-bottom: 30px;
            }
            
            @media (max-width: 992px) {
                column-count: 2;
            }
            
            @media (max-width: 680px) {
                column-count: 1;
            }
        }
    }
}